@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiOutlinedInput-notchedOutline{
border: none;
}
.iconclass {
    width: 100%;
    padding-top: 32px;
    padding-left: 40px;


   
    &&:hover{
        .slick-dots{
            opacity: 1;
        }
    }

    .slick-dots {
        width: 16%;
        top: 0;
        right: 0;
        opacity: 0;
       
    }
   
}
